<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>게시글 상세 페이지</title>
  <link rel="stylesheet" type="text/css" href="/css/boardlist.css"/>

  <div th:replace="../static/navbar.html :: aa"></div>
  <div th:replace="../static/navbar.html :: bb"></div>

  <style>
    h2 {text-align : center;}
  </style>
</head>
<body>
  <br>
  <h2><b>작성글 상세 내용</b></h2>
  <br>
  <table>
    <tr>
      <td>작성자</td>
      <td th:text="${board1.postwriter}"></td>
      <td>작성시간</td>
      <td th:text="${board1.postregdate}"></td>
    </tr>
    <tr>
      <td>글 번호</td>
      <td th:text="${board1.postidx}"></td>
      <td>분류</td>
      <td th:switch="${board1.postmenuidx}">
        <span th:case="1">자녀 등록</span>
        <span th:case="2">헬퍼 등록</span>
        <span th:case="3">등/하원 부탁해요</span>
        <span th:case="4">등/하원 맡을게요</span>
      </td>
    </tr>
    <tr>
      <td>글 제목</td>
      <td colspan="3" th:text="${board1.posttitle}"></td>
    </tr>
    <tr>
      <td>글 내용</td>
      <td colspan="3" th:text="${board1.postcont}"></td>
    </tr>
    <tr>
      <td colspan="4">
        <!-- @GetMapping("/board/delete") + '원하는 값 = ${~~~}' -->
        <a th:href="@{${board1.postfilepath}}">이미지보기</a>
        &nbsp;&nbsp;&nbsp;<a th:href="@{/board/delete(postidx = ${board1.postidx})}">글 삭제</a>
        &nbsp;&nbsp;&nbsp;<a th:href="@{/board/modify/{postidx}(postidx = ${board1.postidx})}">글 수정</a>
      </td>
    </tr>

  </table>

</body>
</html>