<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>게시물 수정폼</title>
  <link rel="stylesheet" type="text/css" href="/css/boardlist.css"/>

  <div th:replace="../static/navbar.html :: aa"></div>
  <div th:replace="../static/navbar.html :: bb"></div>
</head>

<style>
  h2 {text-align : center;}
  input, textarea { width : 80%; }
</style>

<body>
  <br>
  <h2><b>작성글 수정</b></h2>
  <br>


  <!-- http://localhost:8080/board/writedo 로 이동 -->
  <form th:action="@{/board/update/{postidx}(postidx = ${board1.postidx})}" method="post" enctype="multipart/form-data">
    <table>
      <tr>
        <td>작성자</td>
        <td><span th:text="${board1.postwriter}"></span></td>
        <td>작성시간</td>
        <td><span th:text="${board1.postregdate}"></span></td>
      </tr>
      <tr>
        <td>글번호</td>
        <td><span th:text="${board1.postidx}"></span></td>
        <td>분류</td>
        <td><span th:switch="${board1.postmenuidx}">
          <span th:case="1">자녀 등록</span>
          <span th:case="2">헬퍼 등록</span>
          <span th:case="3">등/하원 부탁해요</span>
          <span th:case="4">등/하원 맡을게요</span>
        </span></td>
      </tr>
      <tr>
        <td>글 제목</td>
        <td colspan="3"><input name="posttitle" type="text" th:value="${board1.posttitle}"></td>
      </tr>
      <tr>
        <td>글 내용</td>
        <td colspan="3"><textarea name="postcont" th:text="${board1.postcont}"></textarea></td>
      </tr>
      <!--파일첨부-->
      <tr>
        <td>파일첨부</td>
        <td colspan="3"><input type="file" name="file">
      </tr>
      <!--<tr>
        <td>파일이름 확인</td>
        <td colspan="3"><span th:text="${board1.postfilename}>"></span>
      </tr>-->
    </table>
    <button type="submit">수정</button>
    <button type="reset">초기화</button>
  </form>
    </div>
</body>

</html>