<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>board1 글 목록</title>
  <link rel="stylesheet" type="text/css" href="/css/boardlist.css"/>

  <!-- 식이가 만든 navi -->
  <div th:replace="../static/navbar.html :: aa"></div>
  <div th:replace="../static/navbar.html :: bb"></div>

  <style>
    h2 {text-align : center;}
  </style>
</head>

<body>
  <br>
  <h2><b>게시판 전체 글 목록</b></h2>
  <br>
  <table>
    <thead>
      <tr>
        <th>글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성시간</th>
        <th>게시판</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="board1 : ${list}">
          <!-- th:each는 ${list}가 없을 때까지 반복해서 실행-->
          <td th:text="${board1.postidx}">1</td>
          <td>
            <a th:text="${board1.posttitle}" th:href="@{/board/view(postidx=${board1.postidx})}"></a>
          </td>
          <td th:text="${board1.postwriter}"></td>

          <td th:text="${board1.postregdate}"></td>
          <td th:switch="${board1.postmenuidx}">
              <span th:case="1">자녀 등록</span>
              <span th:case="2">헬퍼 등록</span>
              <span th:case="3">등/하원 부탁해요</span>
              <span th:case="4">등/하원 맡을게요</span>
          </td>
      </tr>
    </tbody>
  </table>
  <br><br>

  <!-- 검색 창
  action과 다르게 th:action을 사용하면 타임리프의 링크 표현식을
  쓰거나 동적으로 action 주소를 바꿔줄 수 있습니다!
  -->
  <div height="25" align="center">
  <form th:action="@{/board/list}" method="get">
    <input type="text" name="searchKeyword">
    <button type="submit">검색</button>
    <button type="button" onclick="location.href = '/board/write'">게시판 글쓰기</button>

  </form>
  </div>
  <br><br>
  <!--
  th:block은 태그가 필요없는 부분에
  타임리프(th)문법을 사용하는 부분이 있을 때 사용
  -->
  <div width="1600" height="25" align="center">
    <th:block align="center" th:each="page : ${#numbers.sequence(startPage, endPage)}"></li>
      <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page -1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
      <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
    </th:block>
  </div>
</body>
</html>