<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
      xmlns="http://www.w3.org/1999/html">

<head>
  <link rel="stylesheet" type="text/css" href="/css/boardlist.css"/>
  <link rel="stylesheet" type="text/css" href="/css/button.css"/>

  <div th:replace="../static/navbar.html :: aa"></div>
  <div th:replace="../static/navbar.html :: bb"></div>
</head>

<body>
<div class="container">
  <table>
    <h2> 헬퍼 상세 조회[관리자] </h2>
    <thead>
    <tr>
      <th>아이디</th>
      <th>이름</th>
      <th>위치</th>
      <th>한줄 소개</th>
      <th>카카오 링크</th>
      <th>추천수</th>
      <th>등원</th>
      <th>하원</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="h : ${helperDetail}">
      <td>
        <a th:href="@{'/admin/userList/' + ${h.helperid}}">
          <span th:text="${h.helperid}"></span>
        </a>
      </td>
      <td th:text="${h.username}"></td>
      <td th:text="${h.helper_addr}"></td>
      <td th:text="${h.helper_comment}"></td>
      <td th:text="${h.helper_kakao}"></td>
      <td th:text="${h.helper_reccount}"></td>
      <td th:text="${h.helper_go}"></td>
      <td th:text="${h.helper_come}"></td>


    <tfoot>
    </tfoot>
  </table>

  <br>
  <div align="center">
    <button class="white"
            th:onclick="|location.href='@{/admin/helperList}'|"
            type="button">헬퍼 목록
    </button>
    <button type="button" class="white" onclick="location.href = '/'">홈으로</button>
  </div>
</div>

</tr>
</tbody>
</div>
</body>

</html>