<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
      xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="stylesheet" type="text/css" href="/css/boardlist.css"/>

    <div th:replace="../static/navbar.html :: aa"></div>
    <div th:replace="../static/navbar.html :: bb"></div>
</head>

<body>
<div class="container">
    <table>
        <h2> 학부모 목록 조회[관리자] </h2>

        <thead>
        <tr>
            <th>프로필</th>
            <th>아이디</th>
            <th>이름</th>
            <th>등급</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${parents_s}">
            <td><img th:src="@{/parents_img/} + ${p.parents_filepath}" width="200" height="200"></td>
            <td>
                <a th:href="@{'/admin/parentsList/' + ${p.parentsid}}">
                    <span th:text="${p.parentsid}"></span>
                </a>
            </td>
            <td th:text="${p.username}"></td>
            <td th:text="${p.user_role}"></td>
        </tr>
        </tbody>

        <tfoot>
        <td colspan="5" class="tablefoot"></td>
        </tfoot>
    </table>
</div> <!-- /container -->
<!--<button type="button" onclick="location.href = '/'">홈으로</button>-->
</body>
</html>