<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet">
</head>
<body>


<div class="container">
    <table>
        <h2> 검색 결과 </h2>
        <thead>
        <tr>
            <th>프로필</th>
            <th>아이디</th>
            <th>이름</th>
            <th>등급</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${userList}">
            <td><img src="https://imhannah.me/common/img/default_profile.png" width="200" height="200"></td>
            <td th:text="${u.userid}"></td>
            <td th:text="${u.username}"></td>
            <td th:text="${u.user_role}"></td>
        </tr>
        </tbody>

        <tfoot>
        <td colspan="5" class="tablefoot"></td>
        </tfoot>
    </table>
</div> <!-- /container -->
<button type="button" onclick="location.href = '/'">홈으로</button>
<button type="button" onclick="location.href = '/admin/userList'">회원 목록</button>
</body>
</html>