<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
      xmlns="http://www.w3.org/1999/html">

<head>

    <title>학부모 등록</title>

    <link rel="stylesheet" type="text/css" href="/css/boardlist.css"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <div th:replace="../static/navbar.html :: aa"></div>
    <div th:replace="../static/navbar.html :: bb"></div>

    <style>
    body {
      min-height: 100vh;

      background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
      background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
      background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
      background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
      background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
    }

    .input-form {
      max-width: 680px;

      margin-top: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
  </style>
</head>

<body>

<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">학부모 등록</h4>
<form class="abc" role="form" th:action="@{/manager/signUp/Parents}" enctype="multipart/form-data"
      th:object="${parents1}" id="signupForm" modelAttribute="parents1" method="POST">

    <div>
        <label>본인 프로필 사진</label>
        <input multiple type="file" name="file">
        <span style="font-size:1em; color: red;" th:text="${valid_parents_filepath}"></span>
    </div>
    <br>

    <div>
        <label for="parentsid">아이디</label>
        <input type="text"  id="parentsid" name="parentsid" th:value="${parents1.parentsid}" readonly >
    </div>
    <br>


    <div>
        <label>주소</label></br>
        <input type="text" name="sample6_postcode" id="sample6_postcode"  placeholder="우편번호" readonly>
        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
        <input type="text" name="sample6_address" id="sample6_address" placeholder="주소" readonly><br>
        <input type="text" name="sample6_detailAddress" id="sample6_detailAddress"  placeholder="상세주소" onchange="addrdetail()">
        <input type="text" name="sample6_extraAddress" id="sample6_extraAddress"  placeholder="참고항목">
        <input type="hidden" name="parents_addr" id="parents_addr" value="">
        <span style="font-size:1em; color: red;" th:text="${valid_parents_addr}"></span>
    </div>
    <br>


    <fieldset>
        <legend>희망하는 등원 or 하원을 고르세요</legend>
        <p>복수 선택 가능</p>
        <label><input type="checkbox" name="parents_go" value="Y">등원</label>
        <label><input type="checkbox" name="parents_come" value="Y">하원</label>
    </fieldset>
    <br>



    <div>
        <label>한줄 소개</label>
        <input type="text" id="parents_comment" name="parents_comment" th:value="${parents1.parents_comment}" placeholder="한줄 소개를 입력하세요.">
        <span style="font-size:1em; color: red;" th:text="${valid_parents_comment}"></span>
    </div>
    <br>


    <div>
        <label>카카오톡 오픈링크</label>
        <input type="text" name="parents_kakao" th:value="${parents1.parents_kakao}" placeholder="오픈링크를 입력하세요.">
        <span style="font-size:1em; color: red;" th:text="${valid_parents_kakao}"></span>
    </div>
    <br>



    <div class="mb-4"></div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">가입하기</button>
</form>
        </div>

    </div>
    <footer class="my-3 text-center text-small">
        <p class="mb-1">&copy; 2023</p>
    </footer>
</div>
</body>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수


    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.


                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }

                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();


            }
        }).open();

}

function addrdetail(parents_addr){
        var addrdetail = document.getElementById('sample6_detailAddress').value;
        var parents_addr = addr + extraAddr + " " + addrdetail
        console.log(parents_addr)

       document.getElementById("parents_addr").value = parents_addr
            }




</script>
</html>