<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
      xmlns="http://www.w3.org/1999/html">

<head>

  <title>아이 등록</title>

<!--  <link rel="stylesheet" type="text/css" href="/css/boardlist.css"/>-->
  <link rel="stylesheet" type="text/css" href="/css/button.css"/>
  <link rel="stylesheet" type="text/css" href="/css/label.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <div th:replace="../static/navbar.html :: aa"></div>
  <div th:replace="../static/navbar.html :: bb"></div>

  <style>
    body {
      min-height: 100vh;

      background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
      background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
      background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
      background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
      background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
    }

    .input-form {
      max-width: 680px;

      margin-top: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
  </style>
</head>

<body>

<div class="container">
  <div class="input-form-backgroud row">
    <div class="input-form col-md-12 mx-auto">
      <h4 class="mb-3" style="font-weight:bold; font-size: 23pt;">아이 등록</h4>
<form class="abc" th:action="@{/manager/signUp/Parents/Child}"
      th:object="${p_child1}" id="newForm" modelAttribute="p_child1" method="POST">


  <div class="dust-class" align="left">
    <label for="p_id"><span>*</span>학부모 아이디</label>
    <input type="text"  id="p_id" name="p_id" th:value="${p_id}" value="dust" readonly >
  </div>
  <br><br><br><br><br>

  <div>
    <label style="font-weight:bold; font-size: 14pt;">아이 이름</label>
    <input type="text" id="p_childname" name="p_childname" placeholder="아이의 이름을 입력하세요.">
    <span style="font-size:1em; color: red;" th:text="${valid_p_childname}"></span>
  </div>
  <br>

  <div>
    <label style="font-weight:bold; font-size: 14pt;">아이 성별</label>
    <input type='radio'
           name='p_childgender'
           value='남성'>남성</input>
    <input type='radio'
           name='p_childgender'
           value='여성'/>여성
    <span style="font-size:1em; color: red;"  th:text="${valid_p_childgender}"  ></span>
  </div>
  <br>

  <div>
    <label style="font-weight:bold; font-size: 14pt;">아이 나이</label>
    <input type="number" min="0" max="100" id="p_childage" name="p_childage"  placeholder="만나이">
    <span style="font-size:1em; color: red;" th:text="${valid_p_childage}"></span>
  </div>
  <br>

  <div>
    <label style="font-weight:bold; font-size: 14pt;">아이 한줄 소개</label>
    <input type="text" id="p_childcomment" name="p_childcomment"  placeholder="아이 한줄 소개를 입력하세요.">
    <span style="font-size:1em; color: red;" th:text="${valid_p_childcomment}"></span>
  </div><br>

</form>

  <div class="mb-4" align="center">
    <button id="btn1" class="orange">아이 추가 등록</button>
    <button id="save" class="blue">등록하기</button><br><br>
    <a href="/">아이는 나중에 등록할게요</a>
  </div>
  </div>

  </div>
    <footer class="my-3 text-center text-small">
      <p class="mb-1">&copy; 2023</p>
    </footer>
  </div>
</body>

<link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script th:inline="javascript" type="text/javascript">

var contextPath = $('#contextPathHolder').attr('data-contextPath') ? $('#contextPathHolder').attr('data-contextPath') : '';

console.log(contextPath);

const button = document.querySelector("#btn1");
const form = document.querySelector("#newForm");
const saveButton = document.querySelector("#save");


let count = 2;

const names = [ ];


function handleSaveButton() {

        let p_id           = document.getElementById('p_id').value;
        let p_childname    = document.getElementById('p_childname').value;
        let p_childgender  = document.querySelector('input[name="p_childgender"]:checked').value;
        let p_childage     = document.getElementById('p_childage').value;
        let p_childcomment = document.getElementById('p_childcomment').value;
        console.log(p_id, p_childname, p_childgender, p_childage, p_childcomment);



    for (let i = 2; i < count; i++) {

        const div = form.querySelector(`#childName${i}`);
        const input = div.querySelector(`#childName_input${i}`);

        const div2 = form.querySelector(`#childGender${i}`);
        const input2 = div2.querySelector(`input[name="gender${i}"]:checked`);


        const div3 = form.querySelector(`#childAge${i}`);
        const input3 = div3.querySelector(`#childAge_input${i}`);

        const div4 = form.querySelector(`#childComment${i}`);
        const input4 = div4.querySelector(`#childComment_input${i}`);


        let data  = input.value;
        let data2 = input2.value;
        let data3 = input3.value;
        let data4 = input4.value;


        const dataObj = {
            idx     : i,
            id      : p_id,
            name    : data,
            gender  : data2,
            age     : data3,
            comment : data4
        }
        names.push(dataObj);
    }

        const data1 = {
            idx     : 1,
            id      : p_id,
            name    : p_childname,
            gender  : p_childgender,
            age     : p_childage,
            comment : p_childcomment
        };
        names.unshift(data1);

    console.log(names);


    $.ajax({
	url: contextPath + '/manager/signUp/Parents/Child',
	type: "post",
	traditional: true,	              // ajax 배열 넘기기 옵션(필수)
	data: JSON.stringify(names),
	contentType: "application/json; charset=utf-8",
	dataType: "json",
	success: function (result) {
		console.log(result);
		alert('아이 등록이 완료되었습니다');
		location.href = "http://localhost:8080"
	},
});



}

function handleButton() {

    const br = document.createElement("br");

    const div_childName    = document.createElement("div");
    const div_childGender  = document.createElement("div");
    const div_childAge     = document.createElement("div");
    const div_childComment = document.createElement("div");

    //------------------- div_childName 내부
    const childName_label = document.createElement("label");
    const childName_input = document.createElement("input");


    //------------------- div_childGender 내부
    const childGender_label  = document.createElement("label");
<!--    const childGender_input  = document.createElement("input");-->

    const childGender_inputM = document.createElement("input");
    const childGender_inputF = document.createElement("input");

    //------------------- div_childAge 내부
    const childAge_label = document.createElement("label");
    const childAge_input = document.createElement("input");

    //------------------- div_childComment 내부
    const childComment_label = document.createElement("label");
    const childComment_input = document.createElement("input");


    //------------------------------------ div_childName Setting
    div_childName.id = "childName" + count;

    childName_label.id = "childName_label";
    childName_label.innerText = "아이 이름\u00A0";
    childName_label.style = "font-weight:bold; font-size: 14pt; ";

    childName_input.id = "childName_input" + count;
    childName_input.innerText = "input your name";
    childName_input.placeholder = "아이의 이름을 입력하세요.";

    div_childName.appendChild(br);
    div_childName.appendChild(childName_label);
    div_childName.appendChild(childName_input);
    div_childName.appendChild(br);


    //------------------------------------ div_childGender Setting
    div_childGender.id = "childGender" + count;

    childGender_label.id = "childGender_label";
    childGender_label.innerText = "아이 성별\u00A0";
    childGender_label.style = "font-weight:bold; font-size: 14pt; ";

    childGender_inputM.id    = "childGender_inputM" + count;
    childGender_inputM.value = "남성";
    childGender_inputM.type  = "radio";
    childGender_inputM.name  = "gender" + count;
    childGender_inputM.innerText = "남성";

    childGender_inputF.id    = "childGender_inputF" + count;
    childGender_inputF.value = "여성";
    childGender_inputF.type  = "radio";
    childGender_inputF.name  = "gender" + count;
    childGender_inputF.innerText = "여성";


    div_childGender.appendChild(childGender_label);
    div_childGender.appendChild(childGender_inputM);
    div_childGender.appendChild(childGender_inputF);


    //------------------------------------ div_childAge Setting
    div_childAge.id = "childAge" + count;

    childAge_label.id = "childAge_label";
    childAge_label.innerText = "아이 나이\u00A0";
    childAge_label.style = "font-weight:bold; font-size: 14pt; ";

    childAge_input.id = "childAge_input" + count;
    childAge_input.type = "number";
    childAge_input.innerText = "input your age";
    childAge_input.placeholder = "만나이";
    childAge_input.min = "0";
    childAge_input.max = "100";


    div_childAge.appendChild(childAge_label);
    div_childAge.appendChild(childAge_input);


    //------------------------------------ div_childComment Setting
    div_childComment.id = "childComment" + count;

    childComment_label.id = "childComment_label";
    childComment_label.innerText = "아이 한줄 소개\u00A0";
    childComment_label.style = "font-weight:bold; font-size: 14pt; ";

    childComment_input.id = "childComment_input" + count;
    childComment_input.innerText = "input your comment";
    childComment_input.placeholder = "아이 한줄 소개를 입력하세요.";

    div_childComment.appendChild(childComment_label);
    div_childComment.appendChild(childComment_input);


    form.appendChild(br);
    form.appendChild(div_childName);
    form.appendChild(div_childGender);
    form.appendChild(div_childAge);
    form.appendChild(div_childComment);
    form.appendChild(br);

    console.dir(form);

    count = count + 1;
}

button.addEventListener("click", handleButton);
saveButton.addEventListener("click", handleSaveButton);


</script>

</html>