<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>review1 글 목록</title>
  <link rel="stylesheet" type="text/css" href="/css/Review_list.css"/>

  <!-- 식이가 만든 navi -->
  <div th:replace="../static/navbar.html :: aa"></div>
  <div th:replace="../static/navbar.html :: bb"></div>

</head>
<body>

<section class="notice">
  <div class="page-title">
    <div class="container">
      <h3><b>리뷰 전체 글 목록</b></h3>
    </div>
  </div>

  <!-- board list area -->
  <div id="board-list">
    <div class="container">
      <table class="board-table">
        <thead>
        <tr>
          <th scope="col" class="th-num">글번호</th>
          <th scope="col" class="th-title">제목</th>
          <th scope="col" class="th-date">작성자</th>
          <th scope="col" class="th-date">[작성 / 수정] 시간</th>
          <th scope="col" class="th-date">분류</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review1 : ${list}">
          <!-- th:each는 ${list}가 없을 때까지 반복해서 실행-->
          <td th:text="${review1.reviewidx}">1</td>

          <td>
            <a th:text="${review1.reviewtitle}" th:href="@{/review/view(reviewidx=${review1.reviewidx})}"></a>
          </td>

          <td th:switch="${review1.reviewmenuidx}">
            <span th:case="1" th:text="${review1.reviewhidx}"></span>
            <span th:case="2" th:text="${review1.reviewpidx}"></span>
          </td>

          <td>
            <span th:if="${review1.createdDate} == ${review1.modifiedDate}" th:text="${review1.createdDate}"></span>
            <span th:unless="${review1.createdDate} == ${review1.modifiedDate}" th:text="${review1.modifiedDate}"></span>
          </td>

          <td th:switch="${review1.reviewmenuidx}">
            <span th:case="1">학부모를 리뷰</span>
            <span th:case="2">헬퍼를 리뷰</span>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
      <!-- board seach area / 검색 창
      action과 다르게 th:action을 사용하면 타임리프의 링크 표현식을
      쓰거나 동적으로 action 주소를 바꿔줄 수 있습니다!
      -->
      <div id="board-search">
        <div class="container">
          <div class="search-window">
            <form th:action="@{/review/list}" method="get">
              <div class="search-wrap">
                <!--                        <label for="search" class="blind">공지사항 내용 검색</label>-->
                <!--                        <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">-->
                <input type="text" name="searchKeyword" placeholder="제목을 입력해주세요.">
                <button type="submit" class="btn btn-dark">검색</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div height="25" align="center">
    <br>

    <li sec:authorize ="hasRole('MANAGER')">
    <button type="button" class="btn btn-primary" onclick="location.href = '/review/helper'">헬퍼를 리뷰하기</button>&nbsp;
    <button type="button" class="btn btn-success" onclick="location.href = '/review/parents'">학부모를 리뷰하기</button>
    </li>
    <!--<button type="button" onclick="location.href = '/review/write'">게시판 글쓰기</button>-->
    <!--
    th:block은 태그가 필요없는 부분에
    타임리프(th)문법을 사용하는 부분이 있을 때 사용
    -->
    <br><br>
    <th:block align="center" th:each="page : ${#numbers.sequence(startPage, endPage)}"></li>
      <a th:if="${page != nowPage}" th:href="@{/review/list(page = ${page -1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
      <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
    </th:block>
  </div>
</section>
</body>
</html>