<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>학부모 리뷰 작성폼</title>
  <link rel="stylesheet" type="text/css" href="/css/Review_list.css"/>

  <!-- 식이가 만든 navi -->
  <div th:replace="../static/navbar.html :: aa"></div>
  <div th:replace="../static/navbar.html :: bb"></div>

  <style>
    textarea {
    width: 75%;
    height: 10em;
  }
  </style>

</head>
<body>
<section class="notice">
  <div class="page-title">
    <div class="container">
      <h3><b>학부모 리뷰 (헬퍼가 작성)</b></h3>
    </div>
  </div>
  <br>


  <form action="/review/parentsreviewprocess" method="post" >
    <div id="board-list">
      <div class="container">
        <table class="board-table">
          <tbody>
            <tr>
              <td>제목</td>
              <td><input name="reviewtitle" type="text" required></td>
            </tr>

            <!--<tr>
              <td>현재시간</td>
              <td><p name="reviewregdate" id="clock"></p></td>
              <td><input name="reviewregdate" value="2023-01-05"></input></td>
            </tr>-->

            <!-- 임시로 일단 작성자 넣어둠 -->
            <!-- 식이가 해둔 유저정보 가져오기를 나도 해야 함.. ㅎㅎ-->
            <tr>
              <td>작성자</td>
              <td><input name="reviewhidx" th:value="${userData.userid}" readonly/></td>
            </tr>

            <tr>
              <td>리뷰 대상자</td>
              <td>
                <select name="reviewhidx" style="width: 75%">
                  <option th:each="p  : ${list}"  th:text="${p}"></option>
                  <option th:each="p2 : ${list2}" th:text="${p2}"></option>
                </select>
              </td>
            </tr>

            <tr>
              <td>내용</td>
              <td><textarea name="reviewcont" required></textarea></td>
            </tr>

            <tr>
              <td>게시판 분류</td>
              <td>
                <select name="reviewmenuidx" size="1">
                  <option value="1">1. 학부모를 리뷰 (헬퍼가 작성)</option>
                </select>
              </td>
            </tr>

<!--            리뷰 추천수 0 으로 기입-->
              <input type="hidden" name="reviewrecommend" value="0" readonly></input>

            <tr>
              <td colspan="2">
                <button type="submit" class="btn btn-primary" onclick="return confirm('학부모 리뷰를 작성하시겠습니까?')">작성</button>
                &nbsp;&nbsp;&nbsp;<button type="reset" class="btn btn-secondary">초기화</button>
                &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-warning" onclick="history.go(-1);">이전으로</button>
                &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success" onclick="location.href = '/'">홈으로</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</section>
</body>
</html>

  <!-- 작성시간 관련 스크립트 -->
  <script>
    var Target = document.getElementById("clock");
    function clock() {
        var time = new Date();

        var month = time.getMonth();
        var date = time.getDate();
        var day = time.getDay();
        var week = ['일', '월', '화', '수', '목', '금', '토'];

        var hours = time.getHours();
        var minutes = time.getMinutes();
        var seconds = time.getSeconds();

        `${month + 1}월 ${date}일 ${week[day]}요일 ` +
        `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;

    }
    clock();
    setInterval(clock, 1000); // 1초마다 실행
  </script>