<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<meta charset="utf-8">


<body>

<h1>로그인 성공</h1>
홈화면입니다 제발..

    <h2><span th:text="${userid}"></span>님 환영합니다!</h2>

    <div>
    <button sec:authorize="isAuthenticated()" type="button" onclick="location.href = '/Logout.do'">로그아웃</button>
    <button type="button" onclick="location.href = '/board/write'">게시판 글쓰기</button>
    <button type="button" onclick="location.href = '/board/list'">게시판 전체 글 목록</button>
    </br>
    </br>

    <button sec:authorize access="hasRole('ROLE_MANAGER')" type="button" onclick="location.href = '/manager/signUp/Helper'">헬퍼 회원가입</button>
    <button sec:authorize access="hasRole('ROLE_MANAGER')" type="button" onclick="location.href = '/manager/signUp/Parents'">학부모 회원가입</button>
    </br>
    </br>

    <button sec:authorize ="hasRole('ROLE_ADMIN')" type="button" onclick="location.href = '/admin/userList'">회원 목록 조회</button>
    <button sec:authorize ="hasRole('ROLE_ADMIN')" type="button" onclick="location.href = '/admin/helperList'">헬퍼 목록 조회</button>
    <button sec:authorize ="hasRole('ROLE_ADMIN')" type="button" onclick="location.href = '/admin/parentsList'">학부모 목록 조회</button>


</div>

</body>

</html>
