<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>로그인</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/login/signin.css" rel="stylesheet">
</head>
<body class="text-center">
<img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTAyMjhfMTk2%2FMDAxNjE0NTE3NjY3ODQy.TGEsw6kvc0bJEZzqafCaj3LpGxcspiARDV5HXg4EZvUg.C0IavfPAoT1XWa0Z484j3mePzJF5DXacW8Ef9lTTNt0g.PNG.hanul8158%2Fpublicdomainq-0018271uzmawm.png&type=sc960_832" width="250" height="150">
  <form id="formJoin"
             th:action="@{/Login.do}"
              method="post">
    <h1 class="h3 mb-3 font-weight-normal">로그인 화면</h1>

    <label for="username" class="sr-only">아이디</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="아이디를 입력하세요"
           required autofocus>

    <label for="password" class="sr-only">비밀번호</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요"
           required>

    <div class="checkbox mb-3">
        <label> <input type="checkbox" value="remember-me">
            Remember me
        </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>

    <div class="checkbox mb-3">
        <label><a href="signUp">회원가입</a></label>
    </div>

      <label><a href="/findID">아이디 찾기</a></label>
      <label><a href="findPW">비밀번호 찾기</a></label>

    <p class="mt-5 mb-3 text-muted">&copy; 2022-2023</p>
</form>
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media ( min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<script>

    getMessageWithCode();

    function getQueryString() {
        var params = {};
        window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
            params[key] = value;
        });
        return params;
    }


    function getMessageWithCode() {
        var $id = $('#inputUser_email');
        var loginCode = getQueryString().cd;

        switch (loginCode) {

            case 'needLogin':
                alert('로그인이 필요한 서비스입니다.');
                break;

            case 'failed':
                alert('로그인 실패하였습니다\n아이디나 비밀번호를 확인해주세요.');
                break;

        }
    }

</script>
</html>