<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:margin="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="../static/navbar.html :: aa"></div>
    <div th:replace="../static/navbar.html :: bb"></div>
    <link rel="stylesheet" type="text/css" href="/css/Review_list.css"/>
<style>
.textForm {
  border-bottom: 2px solid #adadad;
  width: 30%;
  margin: auto;
  padding: 10px 10px;
}

</style>
</head>

<body>

<div class="textForm">
    <label><b>유저 정보</b></label><br><br>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3" margin:auto>
                <h2 class="my-0 fw-normal">아이디<i><span th:text="${userData.userid}"></span></i></h2>
                <h2 class="my-0 fw-normal">이름<i><span th:text="${userData.username}"></span></i></h2>
                <h2 class="my-0 fw-normal">이메일<i><span th:text="${userData.useremail}"></span></i></h2>
                <h2 class="my-0 fw-normal">나이<i><span th:text="${userData.user_age}"></span></i></h2>
                <h2 class="my-0 fw-normal">전화번호<i><span th:text="${userData.user_tel}"></span></i></h2>
                <h2 class="my-0 fw-normal">등급<i><span th:text="${userData.user_role}"></span></i></h2>
            </div>
            <div class="card-body">
                <a href="/myPage/updateUser"><button type="button" class="w-100 btn btn-lg btn-outline-primary">유저 정보수정</button></a>
            </div>
        </div>
    </div>
</div>

<th:block th:if="${helperData}!=null">
    <div class="textForm">
        <label><b>헬퍼 정보</b></label><br><br>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3" margin:auto>
                    <tbody>
                    <tr th:each="h : ${helperData}">
                        <span th:if="${h.helperid}!=null">
                        <h2 class="my-0 fw-normal">아이디<i><span th:text="${h.helperid}"></span></i></h2>
                        <h2 class="my-0 fw-normal">이름<i><span th:text="${h.username}"></span></i></h2>
                        <h2 class="my-0 fw-normal">주소<i><span th:text="${h.helper_addr}"></span></i></h2>
                        <h2 class="my-0 fw-normal">한줄소개<i><span th:text="${h.helper_comment}"></span></i></h2>
                        <h2 class="my-0 fw-normal">카카오톡링크<i><span th:text="${h.helper_kakao}"></span></i></h2>
                        <h2 class="my-0 fw-normal">추천수<i><span th:text="${h.helper_reccount}"></span></i></h2>
                        <h2 class="my-0 fw-normal">등원<i><span th:text="${h.helper_go}"></span></i></h2>
                        <h2 class="my-0 fw-normal">하원<i><span th:text="${h.helper_come}"></span></i></h2>
                        <img th:src="@{/helper_img/} + ${helperDetail.helper_filepath}" width="200" height="200">
                        </span>
                    </tr>
                    </tbody>
                </div>
                <div class="card-body">
                    <a href="/myPage/updateHelper"><button type="button" class="w-100 btn btn-lg btn-outline-primary">헬퍼 정보수정</button></a>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:unless="${helperData}!=null">
    <div class="textForm">
        <label><b>헬퍼 정보가 없습니다</b></label><br><br>
    </div>
</th:block>

<div class="textForm">
    <label><b>학부모 정보</b></label><br><br>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3" margin:auto>
                <tbody>
                <tr th:each="p : ${parentsData}">
                    <h2 class="my-0 fw-normal">아이디<i><span th:text="${p.parentsid}"></span></i></h2>
                    <h2 class="my-0 fw-normal">주소<i><span th:text="${p.parents_addr}"></span></i></h2>
                    <h2 class="my-0 fw-normal">한줄소개<i><span th:text="${p.parents_comment}"></span></i></h2>
                    <h2 class="my-0 fw-normal">카카오톡링크<i><span th:text="${p.parents_kakao}"></span></i></h2>
                    <h2 class="my-0 fw-normal">등원<i><span th:text="${p.parents_go}"></span></i></h2>
                    <h2 class="my-0 fw-normal">하원<i><span th:text="${p.parents_come}"></span></i></h2>
                    <h2 class="my-0 fw-normal">하원<i><span th:text="${p.parents_come}"></span></i></h2>
                    <img th:src="@{/parents_img/} + ${parentsDetail.parents_filepath}" width="200" height="200">
                </tr>
                </tbody>
            </div>
            <div class="card-body">
                <a href="/myPage/updateParents"><button type="button" class="w-100 btn btn-lg btn-outline-primary">학부모 정보수정</button></a>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="textForm">
<label><b>내글 목록</b></label><br><br>
    <div id="board-list">
            <table class="board-table">
                <thead>
                    <tr>
                        <th scope="col" class="th-title">제목</th>
                        <th scope="col" class="th-title">작성시간</th>
                        <th scope="col" class="th-title">연결</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="t : ${myTextList}">
                    <td>  <span th:text="${t.review_title}"></span></td>
                    <td>  <span th:text="${t.created_date}"></span></td>
                    <td><a th:href="@{/review/view(reviewidx=${t.review_idx})}" class="btn btn-primary" role="button">바로가기</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>






<!--<div class="textForm">-->
<!--    <label><b>알림</b></label><br><br>-->
<!--</div>-->

<!--<div class="textForm">-->
<!--<label><b>연결된 사람</b></label><br><br>-->
<!--<div>-->
<!--    <a class="btn btn-primary" role="button" onclick="window.open('/myPage/reviewPage', 'window_name', 'width=430, height=500, location=no, status=no, scrollbars=yes');">리뷰하기</a>-->
<!--</div>-->
<!--</div>-->

</body>
</html>
